<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="bms.mapper.UserMapper">
    <resultMap id="resultUser" type="bms.domain.User">
        <result column="user_name" property="username" />
        <result column="user_type" property="type" />
        <result column="user_password" property="password" />
        <result column="image_url" property="imageUrl" />
        <result column="updated_time" property="updatedTime" />
        <result column="created_time" property="createdTime" />
    </resultMap>

<!--    select user by Id-->
    <select id="getUser" resultMap="resultUser">
        select * from user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="type != null">
                and user_type = #{type}
            </if>
            <if test="username != null and username != ''">
                and user_name = #{username}
            </if>
            and isDeleted != 1
        </where>;
    </select>

<!--    select all users-->
    <select id="getAllUsers" resultMap="resultUser">
        select * from user;
    </select>

<!--    delete user by id-->
    <update id="deleteUser">
        update user
        <set>
            isDeleted = 1,
        </set>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null and username != ''">
                and user_name = #{username}
            </if>
            and isDeleted == 0
        </where>
    </update>

<!--    recovery user's account-->
    <update id="recoveryUser">
        update user
        <set>
            isDeleted = 0,
        </set>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null and username != ''">
                and user_name = #{username}
            </if>
            and isDeleted == 1
        </where>
    </update>

<!--    add user by told information-->
    <insert id="addUser">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">
                user_type,
            </if>
            <if test="username != null and username != ''">
                user_name,
            </if>
            <if test="surname != null and surname != ''">
                surname,
            </if>
            <if test="password != null and password != ''">
                user_password,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="imageUrl != null and imageUrl != ''">
                image_url,
            </if>
            updated_time,
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">
                user_type = #{type},
            </if>
            <if test="username != null and username != ''">
                #{username},
            </if>
            <if test="surname != null and surname != ''">
                #{surname},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="email != null and email != ''">
                #{email},
            </if>
            <if test="imageUrl != null and imageUrl != ''">
                #{imageUrl},
            </if>
            CURRENT_TIMESTAMP(),
        </trim>
    </insert>


    <!--    update user's data-->
    <!-- Update user's data -->
    <update id="updateUser">
        update user
        <set>
            <if test="user.type != null">
                user_type = #{user.type},
            </if>
            <if test="user.username != null and user.username != ''">
                user_name = #{user.username},
            </if>
            <if test="user.surname != null and user.surname != ''">
                surname = #{user.surname},
            </if>
            <if test="user.password != null and user.password != ''">
                user_password = #{user.password},
            </if>
            <if test="user.email != null and user.email != ''">
                email = #{user.email},
            </if>
            <if test="user.imageUrl != null and user.imageUrl != ''">
                image_url = #{user.imageUrl},
            </if>
            updated_time = CURRENT_TIMESTAMP()
        </set>
        <where>
            <if test="targetUser.id != null">
                and id = #{targetUser.id}
            </if>
            <if test="targetUser.username != null and targetUser.username != ''">
                and user_name = #{targetUser.username}
            </if>
            and isDeleted = 0
        </where>
    </update>


</mapper>