<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="bms.mapper.UserMapper">
    <resultMap id="resultUser" type="bms.domain.User">
        <result column="user_name" property="username" />
        <result column="user_password" property="password" />
        <result column="image_url" property="imageUrl" />
        <result column="updated_time" property="updatedTime" />
        <result column="created_time" property="createdTime" />
    </resultMap>

<!--    select user by Id-->
    <select id="getUser" resultMap="resultUser">
        select * from user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="id != null">
                and uuid = #{uuid}
            </if>
            <if test="username != null and username != ''">
                and user_name = #{username}
            </if>
            <if test="password != null and password != ''">
                and user_password = #{password}
            </if>
        </where>;
    </select>

<!--    select all users-->
    <select id="getAllUsers" resultMap="resultUser">
        select * from user;
    </select>

<!--    delete user by id-->
    <delete id="deleteUser">
        delete from user
        where id = #{id}
    </delete>

<!--    add user by told information-->
    <insert id="addUser">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            uuid,
            <if test="username != null and username != ''">
                user_name,
            </if>
            <if test="surname != null and surname != ''">
                surname,
            </if>
            <if test="password != null and password != ''">
                user_password,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="imageUrl != null and imageUrl != ''">
                image_url,
            </if>
            updated_time,
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{uuid},
            <if test="username != null and username != ''">
                #{username},
            </if>
            <if test="surname != null and surname != ''">
                #{surname},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="email != null and email != ''">
                #{email},
            </if>
            <if test="imageUrl != null and imageUrl != ''">
                #{imageUrl},
            </if>
            CURRENT_TIMESTAMP(),
        </trim>
    </insert>


    <!--    update user's data-->
    <update id="updateUser">
        update user
        <set>
            <if test="username != null and username != ''">
                user_name = #{username},
            </if>
            <if test="surname != null and surname != ''">
                surname = #{surname},
            </if>
            <if test="password != null and password != ''">
                user_password = #{password},
            </if>
            <if test="email !=  null and email != ''">
                email = #{email},
            </if>
            <if test="imageUrl != null and imageUrl != ''">
                image_url = #{imageUrl},
            </if>
                updated_time = CURRENT_TIMESTAMP(),
        </set>
        where id = #{id}
    </update>

</mapper>